html, body {
  background-color: #203530;
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
}


.journal-entry {
  display: flex;
  color: #d4d0d0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.journal-entry-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.journal-entry-input {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  margin-bottom: 10px;
  background-color: #415d51;
  color: #d4d0d0;
  border: 2px solid #202530;
  border-radius: 4px;
}

.journal-entry-input::placeholder {
  color: #d4d0d0; /* Change this to your preferred color */
  opacity: 1; /* Change this to set the opacity of the placeholder text */
}


.journal-entry-submit {
  background-color: #581922;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.journal-entry-submit:hover {
  background-color: #aa707e;
}

.journal-entry-list {
  margin-top: 20px;
  width: 100%;
}

.journal-entry-item {
  background-color: #415d51;
  border: 2px solid #203530;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
}

.journal-entry-timestamp {
  font-size: 12px;
  color: #d4d0d0;
  margin-bottom: 5px;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 2in);
  padding: 1in;
}
